@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent: #5d5ce0;
	--hover: #43439c;
	--primary: #262626;
	--secondary: #dadeff;

	--lilac: #d34af8;
	--blue: #7648ff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Mulish", sans-serif;
}

/* Tailwind Classes */
.primaryBtn {
	@apply bg-[--primary] ~px-4/8 ~py-2/3 text-white font-medium  ~text-xs/base  rounded-xl transition-all duration-300 ease-in-out hover:bg-[--hover];
}
.secondaryBtn {
	@apply border border-[--accent] ~px-2/6 ~py-2/3 text-[--accent] font-medium  ~text-xs/base  rounded-xl transition-all duration-300 ease-in-out hover:bg-[--accent] hover:text-white;
}
.downloadBtn {
	@apply ~px-4/8 ~py-2/3 border  bg-gradient-to-r from-[--accent] via-[--blue] to-[--lilac] text-white ~text-xs/base font-medium rounded-xl transition-all duration-300 ease-in-out hover:to-[--blue];
}

.uploadBtn {
	@apply cursor-pointer flex gap-3 items-center justify-center bg-gradient-to-r from-[--accent] via-[--blue] to-[--lilac] ~px-4/8 ~py-2/4 text-white rounded-3xl transition-all duration-500 ease-in-out hover:scale-105;
}

.text-gradient1 {
	@apply bg-gradient-to-r from-[--accent] via-[--blue] to-[--lilac] text-transparent bg-clip-text;
}
.text-gradient2 {
	@apply bg-gradient-to-br from-gray-900 to-gray-500 bg-clip-text text-transparent;
}
