@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent: #5d5ce0;
	--hover: #524c6b;
	--primary: #262626;
	--secondary: #dadeff;

	--lilac: #d34af8;
	--blue: #7648ff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Tailwind Classes */
.primaryBtn {
	@apply bg-[--accent] ~px-4/8 ~py-2/3 text-white font-medium rounded-2xl transition-all duration-300 ease-in-out hover:bg-[--hover];
}

.uploadBtn {
	@apply cursor-pointer flex gap-3 items-center justify-center bg-gradient-to-r from-[--accent] via-[--blue] to-[--lilac] ~px-4/8 ~py-2/4 text-white rounded-3xl transition-all duration-500 ease-in-out hover:scale-105;
}

.text-gradient1 {
	@apply bg-gradient-to-r from-[--accent] via-[--blue] to-[--lilac] text-transparent bg-clip-text;
}
.text-gradient2 {
	@apply bg-gradient-to-br from-gray-900 to-gray-500 bg-clip-text text-transparent;
}
